<form action="/restaurants" method="post">
  <label for="name">Name</label>
  <input type="text" name="name" id="name">
  <label for="city">City</label>
  <input type="text" name="city" id="city">
  <input type="submit">
</form>